@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .quote::before {
    content: '“';
    color: #4b5563;
    font-size: 300px;
    opacity: .1;
    position: absolute;
    top: 46px;
    left: -32px;
  }

  @media screen(sm) {
    .quote::before {
      top: 128px;
    }
  }

  @media screen(md) {
    .quote::before {
      top: 111px;
    }
  }

  @media screen(lg) {
    .quote::before {
      top: 140px;
      left: -11px;
    }
  }

  @media screen(xl) {
    .quote::before {
      top: 185px;
      left: -11px;
      font-size: 500px;
    }
  }
  
}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active { 
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}